    body{font-family:'Times New Roman', Times, serif;

}
    h1 {
    font-size: 25pt;
    font-family: Arial;
    text-align: center;
}
    .picture img {
    width: 50%;
    
    
}
    .border1 {
    border: 2px solid #555;
    box-shadow: 3px 3px 5px #999;
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 40px;
    background-color:darkcyan;
    float:right;
    margin: -12px;
    overflow:hidden;
    white-space:nowrap;
    
    
}
    section {
    font-size:17pt;
    position:relative;
    float:right;
    right:-390px;
    bottom:-460px;
    line-height:2;
}
    p {
    font-size: 20pt;
    margin: 50px;
}
      

    body {
    background-color: burlywood;
    
}
    img{
        
}
    .correct {
        bottom:1000px;
}
    p1 {
        font-size: 20pt;
        position:relative;
        text-align:right;
        bottom:-400px;
        float:right;
        right:-100px;
}    
    h2 {
        text-align:center;
        font-size:30pt;
        background-color: darkcyan;
        width:75%;
}
    main {
        background-color:  blanchedalmond;
        width:50%;
        font-size:22px;
        margin:50px;
        text-align:center;

    }
        adress {
        position:relative;
        bottom:-205px;
        color: antiquewhite;
}
    
    
   

